
body {
    font-family: serif;
    letter-spacing: .1rem;
    font-size: 1rem;
}

a.ref-item {
    order: -1;
}

.wrapper-item {
    display: flex;
}

img.img-item-small {
    height: 1.5rem;
    width: 1.5rem;
 }

 a {
    margin: 0 10px;
}

 div {
    padding: 0.5rem;
    margin: 0.5rem;
    
}


.wrapper-item {
    font-size: 1.5rem;
    text-align: center;
}
.wrapper-item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img.img-item {
    height: 20rem;
    width: 20rem;
}

.list-item {
    display: flex;
}

.prev-btn {
    margin-right: 3rem;
}

.page-btn {
    display: flex;
    justify-content: center;
  
}

.btn {
    padding: 1rem;
    width: 5rem;
}

.info-text {
    color: midnightblue;
    font-size: 1rem;
    margin: .4rem;
}

.header-text {
    margin: .4rem;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: .3rem;
}